// Modal
.modal-wrapper {
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.modal-wrapper-hide {
  opacity: 0;
  visibility: hidden;
}

.modal {
  min-width: 300px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: -16px 16px 16px rgba(black, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 15px 0;
  }
}

.modal-hide {
  opacity: 0;
  visibility: hidden;
}

.modal-button {
  align-self: flex-end;
}
